<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48167223583-ekum33dg77d35l862fev89l87669qs12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48167223583-ekum33dg77d35l862fev89l87669qs12</string>
	<key>API_KEY</key>
	<string>AIzaSyC8AZDwA54F7kPbQDygY142HtIr9-lDWR0</string>
	<key>GCM_SENDER_ID</key>
	<string>48167223583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fetan.giftcard</string>
	<key>PROJECT_ID</key>
	<string>fetan-gift</string>
	<key>STORAGE_BUCKET</key>
	<string>fetan-gift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48167223583:ios:6192f38ff29a1b873f302a</string>
</dict>
</plist>